@using FlagQuest.Web.Components.Icons

<div class="flag-card">
    <img src="@GetFlag()" class="img-sm" />
    <div class="flag-form">
        @if (_guessedFlags.Count < 6 && _selectedFlagCode != Flag.Code)
        {
            <AutoCompleteFlagInput @bind-Value="_selectedFlagCode" @bind-Value:after="Guess" />
        }
        else
        {
            <h3>@Flag.Translations.English.Name</h3>
        }
        <div class="flags">
            @foreach (var guessedFlag in _guessedFlags)
            {
                <FlagRow Flag="guessedFlag" Coordinate="Flag.Coordinate" />
            }
        </div>
    </div>
</div>
