$primary: #007993;
$info: #11111C;
$success: #3DA266;
$warning: #BA922E;
$danger: #F44336;
$light: #EDE9EC;
$dark: #11121C;
$light-accent: #47B9C3;
$dark-accent: #926075;

.text-light-accent {
  color: $light-accent;
}

.text-dark-accent {
  color: $dark-accent;
}
