@using FlagQuest.Web.Components.Icons

<header class="banner">
    <div class="about">
        <IconLink Name="@BootstrapIcon.GitHub" Href="GitHubOptions.Value.Repository" Size="IconSize.Large" />
        <IconButton Name="@BootstrapIcon.QuestionCircle" OnClick="OnQuestionClick" Size="IconSize.Large" />
    </div>
    <div class="logo">
        <h2>Flag Quest</h2>
        <img src="./assets/icons/icon-64.png" alt="Flag Quest Logo" />
    </div>
    <div class="settings">
        <IconButton Name="@BootstrapIcon.BarChartLineFill" OnClick="OnStatsClick" Size="IconSize.Large" />
        <IconButton Name="@BootstrapIcon.Gear" OnClick="OnSettingsClick" Size="IconSize.Large" />
    </div>
</header>
<hr />
