.main-layout {
  max-width: 42rem;
  height: 100vh;
  margin: auto;
  overflow-y: auto;

  .columns-layout {
    display: flex;
    flex-direction: column;
    padding: 32px 36px;
    gap: 12px;
  }
}
